:root {
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #ffffff;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

/* header */
.logo {
  color: var(--iris);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-decoration: none;
}

.accent {
  color: var(--navy-blue);
}

/* nav */
.list-items > .item {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.item:hover {
  color: var(--ocean);
}
.item:focus {
  color: var(--ocean);
}

/* address */
.contact-item > .contact {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.address {
  font-style: normal;
}

.contact:hover {
  color: var(--ocean);
}
.contact:focus {
  color: var(--ocean);
}

.link {
  text-decoration: none;
}

/* button */
.button {
  color: #4d5ae5;
  background-color: var(--cloud);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

/* footer */
.footer {
  background-color: var(--navy-blue);
}
.footer-accent {
  color: var(--cloud);
}
